<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Grupal-4</title>
</head>
<body>
<head>
  <title>Black and White Spa</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Black and White Spa</h1>
  </header>

  <main>
    <form action="/process" method="get">
      <h2>Imagen URL</h2>
      <input type="text" name="url" placeholder="Ingrese la URL de la imagen">
      <button type="submit">Subir imagen al servidor</button>
    </form>
  </main>

  </div>

      
</body>
</html>